@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&display=swap');
:root {
  --main-color: #08A6E4;
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #08A6E4;
  --article-color-1: #fb3b64;
  --article-color-2: #08A6E4;
  --article-color-3: #55dfb4;
}

body {
  font-family: "Raleway";
  height: 100%;
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-width: 500px;
}